<style>
.row{
  text-align: center;
}
p {
  background-color: #fcf8e3;
  border-radius: 5px;
  padding: 2%;
}
</style>

<div class="container" id="float">
  <div class="container" id="content">
    <div class="row"><h2>Hey Team <%= @team.team_token %><h2></div>
    <div class="row"><h3><u>Solve this</u></h3></div>
    <div class="row"><p><%= @clue.clue_text.html_safe %></p></div>
    <% if @clue != Clue.last %>
      <div class="row"><a href="/verify" class="btn-primary">Next Clue</a></div>
    <% end %>
  </div>
</div>
