<!DOCTYPE html>
<html>
  <head>
    <title>ETreasureHunt</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<h1>Prakriti Diwali Treasure Hunt</h1>
  <body>
    <%= yield %>
  </body>
</html>
<style>
@media only screen and (min-width:320px)  {
  h1 {
    font-size: 7vw;
  }
}
@media only screen and (min-width:1025px) {
  h1 {
    font-size: 3vw;
  }

body {
  background: 
}
}
</style>
